@tailwind base;
@tailwind components;
@tailwind utilities;

/* Smooth scroll untuk klik navbar */
html {
  scroll-behavior: smooth;
}

/* Reset global + styling dasar */
body {
  margin: 0;
  min-height: 100vh;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "SF Pro Text",
    "Inter", sans-serif;
  background-color: #020617;
  color: #f9fafb; /* slate-50 */
}
